[submodule "clipper_server/libsvm-sys/libsvm"]
	path = clipper_server/libsvm-sys/libsvm
	url = https://github.com/cjlin1/libsvm.git
[submodule "clipper_server/liblinear-sys/liblinear"]
	path = clipper_server/liblinear-sys/liblinear
	url = https://github.com/cjlin1/liblinear.git
