*.swp
.ipynb_checkpoints
perf.data*
*.pyc
*.tar.gz
*/target/*
system/pickled_features
model_wrappers/python/spark_models
model_wrappers/python/archive/dato_model/
model_wrappers/python/sklearn_models
timit_user_eval_*.json
pyclipper/Cargo.lock
docs/
model_wrappers/python/spark_docker_deps/
.env
model_wrappers/python/sklearn_models_old/
benchmarking_logs/thruput_mw_debug/
