*.swp
.ipynb_checkpoints
*.pyc
*.tar.gz
*/target/*
system/pickled_features
feature_servers/python/spark_models
feature_servers/python/dato_model/
feature_servers/python/sklearn_models
timit_user_eval_*.json
pyclipper/Cargo.lock
