*.swp
.ipynb_checkpoints
*.pyc
*.tar.gz
*/target/*
system/pickled_features
model_wrappers/python/spark_models
model_wrappers/python/dato_model/
model_wrappers/python/sklearn_models
timit_user_eval_*.json
pyclipper/Cargo.lock
