[submodule "clipper_server/libsvm-sys/libsvm"]
	path = clipper_server/libsvm-sys/libsvm
	url = https://github.com/dcrankshaw/libsvm.git
[submodule "clipper_server/liblinear-sys/liblinear"]
	path = clipper_server/liblinear-sys/liblinear
	url = https://github.com/dcrankshaw/liblinear.git
[submodule "clipper_server/tensorflow"]
	path = clipper_server/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "clipper_server/models"]
	path = clipper_server/models
	url = https://github.com/tensorflow/models.git
